/* Container */
.Info {
    background: var(--mint);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    min-height: calc(75vh - 3rem * 2);
    max-height: fit-content;
    overflow: hidden;
    padding: 3rem 1rem;

    color: var(--gunmental);
}

/* Textos */
.Info article.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    height: max-content;
    padding: 2rem 0;
}

.Info article.text h1 {
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    text-shadow: 0px 0px 32px #2c363f4b;
    line-height: 0.8em;
    max-width: 100%;
    height: auto;

    margin: 0;
}

.Info article.text h2 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .5rem;
    text-shadow: 0px 0px 32px #2c363f4b;
}

.Info article.text p {
    text-align: center;
    font-size: 1.3rem;
    max-width: 60vw;
}

.Info article ul.text-content-container {
    max-width: 60vw;
    padding-inline-start: 0;
}

.Info article .text-content-container li {
    font-size: 1.3rem;
    margin-bottom: 1.25rem;
    list-style-type: none;
}

.Info article .text-content-container a {
    color: var(--gunmental);
    text-decoration: none;
}

.Info article .text-content-container a {
    background:
        linear-gradient(to right,
            var(--gunmental),
            var(--gunmental)),
        linear-gradient(to right,
            var(--antiquewhite),
            var(--antiquewhite));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.Info article .text-content-container a:hover {
    background-size: 0 3px, 100% 3px;
    color: var(--gunmental);

}

.Info article .text-content-container li:before {
    content: '\2022';
    margin-right: 10px;
    color: var(--gunmental);
    transition-duration: 400ms;
}

.Info article .text-content-container li:hover:before {
    color: var(--antiquewhite);
    transition-duration: 400ms;
}

.Navigator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    max-width: 50vw;
    margin: 0 auto;
}

.Navigator button {
    color: var(--persiangreen);
    font-weight: bolder;
    font-size: 1rem;

    background-color: var(--antiquewhite);

    border: none;
    outline: none;
    border-radius: 50%;

    aspect-ratio: 1;
    width: 1.75rem;
    cursor: pointer;
    transition-duration: .5s;
}

.Navigator button:hover {
    transform: translateY(-.25rem);
    transition-duration: .5s;
    box-shadow: 0px 2px 16px #2c363fce;
}

.Navigator button.active {
    color: var(--antiquewhite);
    background-color: var(--gunmental);
}

@media screen and (max-width: 1023px) {
    .Info article.text p {
        max-width: 75vw;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 767px) {
    .Info article.text h1 {
        font-size: 2.5rem;
    }

    .Info article.text p {
        max-width: 75vw;
        font-size: 1.1rem;
    }

    .Info article ul.text-content-container {
        max-width: 60vw;
        padding-inline-start: 0;
    }

    .Info article .text-content-container li {
        text-align: center;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 494px) {

    /* Container */
    .Info {
        min-height: min-content;
        gap: 0rem;
    }

    .Info article.text h1 {
        font-size: 2rem;
    }

    .Info article.text h2 {
        font-size: 1rem;
    }

    .Info article.text p {
        font-size: .8rem;
    }

    .Info article .text-content-container li {
        font-size: 1rem;
    }

    .Info article ul.text-content-container {
        max-width: 100vw;
    }

    .Navigator button {
        font-size: .9rem;
        width: 1.5rem;
    }
}

@media screen and (max-width: 349px) {
    .Info article.text h1 {
        font-size: 1.5rem;
    }
}