/* Container */
.Meeting {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 100vw;
    height: 100vh;
}

/* Textos */
.Meeting article.text {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: calc(6vw - 2rem / 2);
}

.Meeting article.text h1 {
    font-size: 4em;
    font-weight: 800;
    line-height: 0.8em;

    margin: 0;
}

.Meeting article.text h2 {
    font-size: 1.5em;
    font-weight: lighter;

    margin-top: 6px;
    margin-bottom: -4px;

    align-self: flex-end;
}

.Meeting article.text h2:first-child {
    align-self: flex-start;
}

.Meeting article.circles-container {
    max-width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: -20vw;

    padding-right: calc(6vw - 2rem / 2);

}

.Meeting article.circles {
    padding: 0;
    max-width: 75%;
    margin-left: -10vw;
}

.Meeting article.circles img {
    min-width: calc(55vw / 3);
    min-height: calc(55vw / 3);
}

.Meeting article.circles div {
    min-width: calc(55vw / 3);
    min-height: calc(55vw / 3);
}

/* Social icons */
.Meeting article.social-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1rem;
    gap: 1rem;
    width: 100%;
    padding-right: 2rem;
}

.Meeting article.social-icons a {
    height: 1.5rem;
}

.Meeting article.social-icons img {
    height: 100%;
}

/* Círculos */
.Meeting article.circles {
    display: flex;
    justify-content: center;
    width: 100%;
}


@media screen and (max-width: 1023px) {

    /* Container */
    .Meeting {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 4rem;
        justify-content: center;
    }


    /* Textos */
    .Meeting article.text {
        padding: 0;
        margin: 0 auto;
        max-width: 100%;
    }

    /* Círculos */
    .Meeting article.circles-container {
        margin: 0 auto;
        padding: 0;
    }

    .Meeting article.circles {
        padding: 0;
        max-width: 75%;
        margin-left: -10vw;
    }

    .Meeting article.circles img {
        min-width: calc(55vw / 3);
        min-height: calc(55vw / 3);
        left: 10vw;
    }

    .Meeting article.circles div {
        min-width: calc(55vw / 3);
        min-height: calc(55vw / 3);
    }
}

@media screen and (max-width: 767px) {
    .Meeting article.circles-container {
        max-width: 60%;
        margin: 0 auto;
        padding: 0;
    }

    .Meeting article.text h1 {
        font-size: calc(5em / 1.2);
    }

    .Meeting article.text h2 {
        font-size: calc(1.5em / 1.2);
    }

    .Meeting article.circles img {
        min-width: calc(75vw / 3);
        min-height: calc(75vw / 3);
        left: 10vw;
    }

    .Meeting article.circles div {
        min-width: calc(75vw / 3);
        min-height: calc(75vw / 3);
    }

    .Meeting article.social-icons {
        padding-right: 0;
    }
}

@media screen and (max-width: 494px) {

    /* Container */
    .Meeting {
        height: calc(90vh - 4rem);
    }

    /* Textos */
    .Meeting article.text {
        padding: 0;
        margin: 0 auto;
        max-width: 95%;
    }

    .Meeting article.text h1 {
        font-size: calc(5em / 1.8);
        margin-top: 6px;
    }

    .Meeting article.text h2 {
        font-size: calc(1.5em / 1.5);
    }

    /* Círculos */
    .Meeting article.circles {
        padding: 0;
        max-width: 90%;
        margin-left: -10vw;
    }

    .Meeting article.circles img {
        min-width: calc(80vw / 3);
        min-height: calc(80vw / 3);
        left: 10vw;
    }

    .Meeting article.circles div.circle {
        min-width: calc(80vw / 3);
        min-height: calc(80vw / 3);
    }
}